.sidebar {
    position: fixed;
    top: 0;
    left: -100%;
    width: 35%;
    height: 100%;
    background: #222;
    color: white;
    transition: left 0.3s;
    padding: 20px;
}

#content {
    display: flex;
    flex-direction: row;
    background-color: #222;
}

.bgcolor {
    background-color: white;
}

#lista {
    display: flex;
    flex-direction: column;
    gap: 10px;

    width: 15%;
}

#highlights {
    width: 85%;
}