.sidebar {
    position: fixed;
    top: 0;
    left: -36%;
    width: 30%;
    height: 97vh;
    background: #222;
    color: white;
    transition: left 0.3s;
    padding: 20px;
}
.sidebar.shifted {
    left: 0%
}

#content {
    height: 950px;
    display: flex;
    flex-direction: row;
    background-color: #222;
}

.bgcolor {
    background-color: white;
}

#lista {
    display: flex;
    flex-direction: column;
    gap: 10px;

    width: 15%;
}

#highlights {
    width: 85%;
}