.Pagina {
    display: flex;
    flex-direction: column;
    background-color: #222;
    padding: 30px;
}

.TestaTeca {
    display: flex;
    flex-direction: column;
}

.TestaTeca h1 {
    font-size: clamp(28px, 15vw, 100px);
    font-family: "HeaderBlog";
}

.TestaTeca p {
    font-family: 'HeaderBlog';
    font-weight: 200;
    font-size: clamp(16px, 14vw, 30px);
}

    .HeaderListaPost {
        color: white;
        font-family: 'HeaderBlog';
        font-size: clamp(28px, 20vw, 70px);
        text-align: left;
    }


.TitoloTeca {
    color: white;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;

    text-align: left;
}

.divImgCarosello {
        width: 100%;
        height: 40vh;
        min-height: 150px; 
    }

.Carosello {
    width: 100%;
    max-width: 900px;
    min-height: 250px;
    max-height: 900px;
    margin: 20px auto;
}

.imgCarosello {
    width: 100%;
    height: auto;
    object-fit: contain;
}

.divImgCarosello {
    width: 90%;
    max-width: 900px;
    height: 40vh;
    min-height: 250px;
    max-height: 900px;
    margin: 20px auto;
}

.imgCarosello { 
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.HeaderListaPost {
    color: white;
    font-family: 'HeaderBlog';
    font-size: clamp(20px, 12vw, 35px);
    text-align: left;
    padding-bottom: 25px;
}

.ListaPostTeca {
    list-style-type: none;
    align-self: flex-start;
    align-content: flex-start;
    text-align: left;

    display: flex;
    flex-direction: column;
    color: white;
    text-decoration: none;
    gap: 20px;

    width: fit-content;

}

.ListaPostTeca a {
    font-family: "HeaderBlog";
    text-decoration: none;
    color: rgb(147, 147, 147); /* oppure "inherit" se vuoi mantenere il colore del contenitore */
    cursor: pointer; /* opzionale, mantiene l'indicatore cliccabile */
    white-space: nowrap; /* evita che il testo vada a capo */
    font-size: clamp(20px, 2vw, 35px);
}

divListaPostTeca {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/*Desktop e tablet*/
@media ( min-width: 768px) and ( max-width: 1464px) {

    .Pagina {
        display: flex;
        flex-direction: column;
        padding: 20px;
    }

    .TestaTeca {
        flex-direction: column;
    }



}


/*Desktop fullscreen e schermi più grandi*/
@media ( min-width: 1465px) {
    
   .TestaTeca {
        flex-direction: row;
   } 
    .TestaTeca h1 {
        padding-top: 5%;
        font-family: 'HeaderBlog';
        font-size: clamp(28px, 10vw, 50px);
    }

    .TestaTeca p {
        font-family: 'HeaderBlog';
        font-weight: 200;
        font-size: clamp(28px, 6vw, 35px);
    }

    .HeaderListaPost {
        color: white;
        font-family: 'HeaderBlog';
        font-size: clamp(28px, 16vw, 40px);
        text-align: left;
    }

    .ListaPostTeca {
        font-size: clamp(28px, 30vw, 40px);
    }

}