ul#ListaTesta {
    padding-right: 99%;
    list-style: none;
}

ul#ListaTesta li {
    padding: 10px;
    display: inline;
}

.Testa {
    width: 100%;
    height: 12vh;
    border: 1px solid black;
    margin: auto;
}