* {
  margin: 0;
}

#root {
  width: 100%;
  min-height: 100%;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

div#arcobaleno {
    content: "";
    background: linear-gradient(45deg, #176d7f, #7b8230, #b28902, #c88e10, #92441f, #b5363b, #ab2443, #831c88, rgb(82, 43, 82), rgb(130, 0, 0));
    width: 100%;
}

.pc {
    display: block;
}

.mobile {
    display: none;
}

@media (max-width: 768px) {
    .pc {
        display: none;
    }

    .mobile {
        display: block;
    }
    div#arcobaleno {
      content: "";
      background: linear-gradient(45deg, #176d7f, #7b8230, #b28902, #c88e10, #92441f, #b5363b, #ab2443, #831c88, rgb(82, 43, 82), rgb(130, 0, 0));
      width: 100%;
    }
}

/* Questa è la roba della scrollbar, è copiata da un sito molto bello che te le fa generare
https://scrollbar.app non chiedetemi assolutamente cosa fa tutta questa roba               */
:root {
  --sb-track-color: #3b3b3b;
  --sb-thumb-color: #868484;
  --sb-thumb-color-hover: #5a5a5a; /* Colore più scuro per l'hover */
  --sb-size: 10px;
}

::-webkit-scrollbar {
  width: var(--sb-size);
}

::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 0px;
}

::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 0px;
}

/* Hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--sb-thumb-color-hover);
}

@supports (scrollbar-color: auto) {
    * {
        scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
        scrollbar-width: thin; /* Opzionale, per Firefox */
    }
}

@font-face {
    font-family: "HeaderBlog";
    src: url("/assets/font/Lexend-VariableFont_wght.ttf") format('truetype');
}

@font-face {
    font-family: "TestoBlog";
    src: url("/assets/font/Lexend-VariableFont_wght.ttf") format('truetype');
}


