* {
    box-sizing: border-box;
}

@keyframes moveRainbowBorder {
    0%   { background-position: 0 0, 0 0; }
    50%  { background-position: 0 0, 100% 100%; }
    100% { background-position: 0 0, 0 0; }
}

.ListaHighlight {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0%, 3%;
    padding-left: 6%;
    gap: 15%;
    overflow-y: scroll;
    
}

.Highlight {
    max-width: 90%;
    min-width: 60%;
    display: flex;
    flex-direction: column-reverse;
    border-radius: 10px;
    background-color: rgb(73, 73, 73);
    padding: 5%;
    gap: 10%;

    margin-top: 10%;
}

.Highlight #testo {
    outline: 2px solid rgb(42, 42, 42);
    outline-offset: 5px;
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: justify;
    padding: 10% 5%;
    border-radius: 5px
}

.Highlight #immagine {
    display: flex;
    flex-direction: column;

    border: 3px solid transparent;
    border-radius: 20px;
    padding-left: 2%;
    padding-right: 2%;
    margin-bottom: 5%;

    
    background:
        linear-gradient(rgb(64, 64, 64), rgb(84,84,84)) padding-box,
        linear-gradient(45deg,
        rgba(23,109,127,0.5),
        rgba(23,109,127,0.5),
        rgba(40,120,160,0.5),
        rgba(80,100,180,0.5),
        rgba(131,28,136,0.5),
        rgba(171,36,67,0.5),
        rgba(181,54,59,0.5),
        rgba(200,142,16,0.5),
        rgba(178,137,2,0.5),
        rgba(123,130,48,0.5),
        rgba(23,109,127,0.5),
        rgba(23,109,127,0.5),
        rgba(23,109,127,0.5)
        ) border-box;

    width: 100%;
    min-height: 20%;
    max-height: 75%;
    height: fit-content;


    color: #6a6a6a;
    font-family: "TestoBlog";
    text-align: center;
    justify-content: center;
    font-size: clamp(16px, 5vw, 30px);

    background-size: 100% 200%;
    background-position: 0 0, 0 0;

    animation: moveRainbowBorder 10s linear infinite;
}

.Highlight #immagine img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.Highlight #testo #Titolo {
    text-overflow: hidden;
    color: white;
    font-size: clamp(16px, 2.4vw, 50px);
    font-family: 'HeaderBlog';
    font-weight: 900;
    white-space: nowrap;

    padding-bottom: 3%;
    z-index: 2;
}

.Highlight #testo #Descrizione {
    color: white;
    font-size: 1rem;
    font-family: 'TestoBlog';
    min-height: 100%;
    height: fit-content;
    position: relative;

    overflow:hidden;
    text-overflow: ellipsis;



    display: -webkit-box;
    line-clamp: 9;
    -webkit-line-clamp: 9;
    -webkit-box-orient: vertical;
    
}


.Highlight #testo #FondoHighlight {
    display: flex;
    width: 100%;
    height: 10vh;
}

.Highlight #testo #Data {

    position: absolute;
    bottom: 0;
    left: 0;


    color: rgb(135, 135, 135);
    font-family: "TestoBlog";
    font-size: 1.1rem;
}

.Highlight #testo #Leggi {

    display: flex;
    flex-direction: column;
    justify-content: center;

    background-color: rgb(73, 73, 73);

    position: absolute;
    padding: 2vh 0%;
    bottom: -8%;
    width: 50%;
    height: 5%;
    left: 67%;

    border: 2px solid #2a2a2a;
    border-radius: 10px;

    width: 20%;

    background-size: 100% 200%;
    background-position: 0 0, 0 0;

    animation: moveRainbowBorder 10s linear infinite;
}

.Highlight #testo #Leggi p {

    font-family: 'HeaderBlog';
    text-align: center;
    font-size: 0.9rem;
    text-decoration: none;
    color: rgb(216, 216, 216);
}

@media (min-width: 768px) {
    .ListaHighlight {
        padding-top: 3vh;
        width: 80%;
        height: 110vh;
        padding: 3%;
        scrollbar-width: none;
    }

}

@media (min-width : 1300px) {
    .ListaHighlight {
        padding-top: 3vh;
        width: 80%;
        height: 110vh;
        padding: 3%;
        scrollbar-width: none;
    }
    .Highlight {         
        height: 38vh;
        padding: 3% 3%;
        flex-direction: row;
        gap: 3%
    }
    .Highlight #testo {
        border-radius: 5px;
        padding-top: 1%;
        width: 65%;
    }
    .Highlight #testo #Titolo {
        font-size: 2rem;
    }

    .Highlight #immagine {
        height: 100%;
        max-width: 50%;
    }
    .Highlight #testo #Leggi p {
        font-size: 1.2rem;
    }
}