
.Highlight {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    flex: 0, 0, auto;
    background-color: rgb(75, 75, 75);
    color: aliceblue;
}

h1.Highlight {
    font-size: 5%;
}

h2.Highlight {
    font-size: 3%;
}

p.Highlight {
    font-size: 2%;
}



