.ListaHighlight {
    display: flex;
    padding-top: 3vh;
    flex-direction: column;
    align-items: center;

    overflow-y: scroll;
    background-color: #ffffff00;

    width: 80%;
    height: 120vh;

    padding: 3%;
    gap: 15%;

    scrollbar-width: none;
}

.Highlight {
    display: flex;
    width: 80%;
    height: 38vh;
    flex-direction: row;
    gap: 3%;

    padding: 3% 3%;

    border-radius: 10px;

    background-color: rgb(73, 73, 73);
}

.Highlight #testo {

    padding: 10%, 5%;

    position: relative;
    display: flex;
    flex-direction: column;

    text-align: justify;

    border-radius: 5px;

    outline: 2px solid rgb(42, 42, 42);
    outline-offset: 5px;
    width: 65%;
}

.Highlight #immagine {
    display: flex;
    flex-direction: column;

    border-radius: 5px;

    border: 2px solid black;
    width: 35%;

}

.Highlight #testo #Titolo {
    color: white;
    font-size: clamp(16px, 2.4vw, 50px);
    font-family: 'HeaderBlog';
    font-weight: 900;
    white-space: nowrap;

    padding-bottom: 3%;
    z-index: 2;
}

.Highlight #testo #Descrizione {
    color: white;
    font-size: 1rem;
    font-family: 'TestoBlog';
    max-height: 65%;
    min-height: 65%;
    position: relative;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 9;
    -webkit-box-orient: vertical;
    
}

.Highlight #testo #Data {

    position: absolute;
    bottom: 0;
    left: 0;


    color: rgb(135, 135, 135);
    font-family: "TestoBlog";
    font-size: 1.1rem;
}

.Highlight #testo #Leggi {
    text-align: center;

    background-color: rgb(73, 73, 73);
    border: 2px solid rgb(42, 42, 42);
    border-radius: 5px;

    position: absolute;
    padding: 3%;
    bottom: -8%;
    width: 20%;
    left: 67%;
}

.Highlight #testo #Leggi p {

    font-family: Arial, Helvetica, sans-serif;

    font-size: large;
    text-decoration: none;
    color: rgb(216, 216, 216);
}

.Highlight #immagine.Immagine {
    border: 3px solid black;
}

.Highlight #immagine.LeggiPost {
    height: 40%;
    border: 3px solid black;
    background-color: green;
    margin: 2%;
}

