@font-face {
    font-family: 'testo';
    src: url('/assets/font/Roboto.ttf') format('truetype');
}

@font-face {
    font-family: 'titolo';
    src: url('/assets/font/RobotoCondensed.ttf') format('truetype');
}

h1 {
    font-family: 'titolo';
}