.RiquadroClasse {
    box-sizing: border-box;
    width: 90%;
    margin: 0 5% 5% 5%;
    
    display: flex;
    align-items: center;      
    justify-content: center;   
    min-height: 50px;          
    
    font-family: 'contenuto';
    font-size: 15px;
    color: black;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s;
    
    border: 2px solid transparent;
    border-radius: 10px;

    background-image: 
        linear-gradient(rgb(132, 202, 196), rgb(132, 202, 196)), 
        linear-gradient(45deg, #219fb7, #aab343, #f7bf02, #eca40b, #c85c2a, #b5363b, #ab2443, #831c88, rgb(156, 84, 156), rgb(130, 0, 0));
    
    background-origin: border-box;
    background-clip: padding-box, border-box;
}