#bordoFuori {
    position: relative;
    margin: 0 5% 5% 5%;
    border: 5px solid #303030;
    border-radius: 15px;

}

.RiquadroClasse {
    position: relative;
    box-sizing: border-box;
    width: inherit;
    
    display: flex;
    align-items: center;      
    justify-content: center;   
    min-height: 50px;          
    
    font-family: 'contenuto';
    font-size: 15px;
    color: white;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s;
    
    border: 3px solid transparent;
    border-radius: inherit;

    background-image: 
        linear-gradient(rgb(71, 71, 71), rgb(84, 84, 84)), 
        linear-gradient(45deg, #176d7f, #7b8230, #b28902, #c88e10, #92441f, #b5363b, #ab2443, #831c88, rgb(82, 43, 82), rgb(130, 0, 0));

    background-origin: border-box;
    background-clip: padding-box, border-box;
}
