.RiquadroClasse {
    box-sizing: border-box;
    width: 100%;
}
.BottoneClasse {
    width: 100%;
    cursor: pointer;
    border: none;
    background-color: #ffffff
}
.BottoneClasse:hover {
    background-color: #e8e8e8
}